html {
  font-family: BMWTypeNextLatin, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

* {
  margin: 0px;
  left: 0px;
}

header {
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: 75%;
}

nav {
  position: relative;
  display: flex;
  width: 70%;
  height: 30px;
  margin-top: 5%;
  margin-left: 15%;
  justify-content: center;
}

.burger {
  display: none;
}

@media (max-width: 885px) {
  .burger {
    display: flex;
    position: absolute;
    margin-right: 2em;
  }
}
@media (max-width: 885px) {
  nav {
    display: none;
  }
}
.coolbut {
  font-size: 24px;
  text-align: center;
  display: block;
  text-decoration: none;
  width: 250px;
  border: 2px solid #fff;
  color: #fff;
}

.coolbut:hover {
  color: black;
  background-color: #fff;
}

.bglogo {
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Design/4gc-design/4gc-00-teaser-hd1.jpg.asset.1622797516732.jpg);
  position: absolute;
  width: 100%;
  height: 75vh;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  transition: all 2.1s;
}

.bglogo:hover {
  background-size: 104%;
}

.hlogo {
  position: relative;
  left: 2em;
  height: 70px;
}

.serch {
  display: flex;
  width: 80%;
  height: 160px;
  position: relative;
  color: white;
  background-image: url(pngegg.png);
  background-repeat: no-repeat;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

nav a:hover {
  color: #0000ac;
}

.au {
  position: absolute;
  font-size: 30px;
  line-height: 38px;
  left: 4%;
  bottom: 14%;
  width: 70%;
  color: white;
}

.ag {
  font-size: 36px;
  line-height: 38px;
  width: 70%;
  color: white;
}

.inf {
  margin: 0px;
  padding: 0 40px;
  text-align: center;
  border-width: 120px;
  color: white;
}

.inf:hover {
  border-color: white;
  color: black;
  background-color: white;
}

html {
  font-family: BMWTypeNextLatin, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.item {
  position: relative;
}

video {
  height: 100%;
  width: 100%;
}

.intinov {
  grid-area: item02;
}

.sustinability {
  grid-area: item03;
  background-size: contain;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Innovation/sus-expert/sue-00-teaser-hd.jpg.asset.1621494395754.jpg);
}

.sust2 {
  grid-area: item04;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Innovation/sus-cars/suscar-00-teaser-hd-02.jpg.asset.1620741480897.jpg);
  background-size: 100% 100%;
}

.art {
  grid-area: item05;
  background-size: cover;
}

.heroes {
  grid-area: item06;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/events/manga/01-HoR-teaser-hd.jpg.asset.1619096794568.jpg);
  background-size: 100% 100%;
}

.esportboost {
  grid-area: item1;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/events/esports/BMW_Esports_Boost_Key_Visual_16x9.jpg.asset.1618217779092.jpg);
  background-size: 100% 100%;
}

.jeff {
  grid-area: item2;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Design/jeff-koons/jk-00-teaser-hd.jpg.asset.1618472642292.jpg);
  background-size: 100% 100%;
}

.techupd {
  grid-area: item3;
  background-size: 100% 100%;
}

.woman11 {
  grid-area: item4;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Innovation/ultrawideband/uwb-01-stage-hd2.jpg.asset.1614155707619.jpg);
  background-size: 100% 100%;
}

.sensor {
  grid-area: item5;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/automotive-life/women-automotive/wom-00-teaser-hd.jpg.asset.1614863620769.jpg);
  background-size: 100% 100%;
}

.materials {
  grid-area: item6;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Innovation/sensors/sns-00-teaser-hd.jpg.asset.1617715780354.jpg);
  background-size: 100% 100%;
}

.yers10 {
  grid-area: item7;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Innovation/focussing/Fcs-00-teaser-hd.jpg.asset.1611220005424.jpg);
  background-size: 100% 100%;
}

.legrace {
  grid-area: item8;
  background-size: 100% 100%;
}

.aerodin {
  grid-area: item9;
  background-size: 100% 100%;
}

.blackgold {
  grid-area: item10;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/Design/form-follows-function/fff-00-teaser-hd.jpg.asset.1611659614371.jpg);
  background-size: 100% 100%;
}

.limlove {
  grid-area: item11;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/performance/aoc/aoc-00-teaser-hd.jpg.asset.1608286237602.jpg);
  background-size: 100% 100%;
}

.mal {
  grid-area: item12;
  background-image: url(https://www.bmw.com/content/dam/bmw/marketBMWCOM/bmw_com/categories/automotive-life/valentinesday/vd-00-teaser-hd.jpg.asset.1613057287426.jpg);
  background-size: 100% 100%;
}

.cont {
  position: inherit;
  width: 100%;
  display: grid;
  grid-gap: 4px 4px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(12, 340px);
  grid-template-areas: "item01 item01 item02" "item01 item01 item03" "item04 item05 item06" "item1 item2 item2" "item3 item2 item2" "item4 item5 item6" "item7 item7 item8" "item7 item7 item9" "item10 item11 item12";
}

.cont p {
  position: absolute;
  color: white;
  font-size: 18px;
  bottom: 10%;
  left: 3%;
}

html {
  font-family: BMWTypeNextLatin, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

footer a {
  text-decoration: solid;
  color: grey;
}

footer {
  font-size: 14px;
  font-family: BMWTypeNextLatin, Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  width: 100%;
  height: 650px;
  position: relative;
  background-color: #272727;
  display: flex;
}

.lang {
  display: flex;
  margin-top: 3%;
  margin-left: 10.5%;
  height: 30px;
}

.lang:hover {
  color: white;
}

.quiklinks {
  display: inline-flex;
  margin-top: 10%;
  margin-left: -15%;
  flex-direction: column;
  width: 225px;
  color: white;
}

.quiklinks .sect {
  color: grey;
}

.sect:hover {
  color: white;
}

.morebmwwb {
  display: inline-flex;
  margin-top: 10%;
  flex-direction: column;
  color: white;
}

.morebmwwb .web {
  color: grey;
}

.web:hover {
  color: white;
}

.aboutus {
  display: inline-flex;
  margin-top: 10%;
  flex-direction: column;
  color: white;
}

.aboutus .contact {
  color: grey;
}

.contact:hover {
  color: white;
}

.visituson {
  display: inline-flex;
  margin-top: 10%;
  flex-direction: column;
  color: white;
}

.add {
  margin: 6px;
}

.add:hover {
  color: white;
}

.c {
  display: block;
  position: absolute;
  color: white;
  margin-top: 620px;
  margin-left: 12%;
}

.block4 {
  position: relative;
  display: flex;
  background-color: #f0f0f0;
  justify-content: center;
  width: 100%;
  height: 300px;
  margin-top: 0px;
}

.findurbmw {
  margin-top: 3%;
  height: 150px;
  margin-left: 2%;
  justify-content: center;
}

.firstst {
  font-size: 34px;
  margin-left: 24%;
}

.twost {
  font-size: 100px;
}

.threest {
  font-size: 34px;
  margin-left: 30%;
}

.block6 {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.coolbut2 {
  font-size: 24px;
  text-align: center;
  display: block;
  text-decoration: none;
  height: 50px;
  width: 370px;
  border: 2px solid #474747;
  color: #474747;
}

.coolbut2:hover {
  color: white;
  background-color: #474747;
}

/*# sourceMappingURL=main.css.map */
